body {
    font: 10px sans-serif;
  }
  
  .link {
    fill: none;
    stroke: #000;
  }
  
  .partner {
    fill: none;
    stroke: rgb(7, 7, 7);
  }
  
  .border {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #aaa;
  }
  
  .node {
    stroke: red;
    fill: white;
  }