{% extends "base.html" %}

{% block title %}Home | My Website{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1>Add Child For {{ curr_person.first_name }} {{ curr_person.last_name }}</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.first_name.label(class="form-control-label") }}
                {{ form.first_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.last_name.label(class="form-control-label") }}
                {{ form.last_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.gender.label(class="form-control-label") }}
                {{ form.gender(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.mother_id.label(class="form-control-label") }}
                {{ form.mother_id(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.father_id.label(class="form-control-label") }}
                {{ form.father_id(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}