.avatar-img {
  width: 100px;
  height: 100px; /* Ensure it's square */
  border: solid rgba(6, 6, 6, 0.46) 4px;
  border-radius: 50%; /* Makes it a circle */
  object-fit: cover; /* Ensures the image fills the shape */
  margin-top: 40px;
}
