html,
body {
  margin: 0;
  font-family: sans-serif;
}

@plugin "tailwindcss-animate";

#app {
  width: 100vw;
  height: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite/dist/flowbite.css";
